@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p class="text-success">@ViewData["StatusMessage"]</p>
@if (!string.IsNullOrWhiteSpace((string)ViewData["StatusMessage"]))
{
	<hr />
}

<div>
	Password:
	@if (Model.HasPassword)
	{
		<b>defined</b>
		<form asp-controller="Manage" asp-action="ChangePassword" method="get" class="form-horizontal">
			<button type="submit" class="btn-link">Change...</button>
		</form>
	}
	else
	{
		<b>not defined</b>
		<form asp-controller="Manage" asp-action="SetPassword" method="get" class="form-horizontal">
			<button type="submit" class="btn-link">Create...</button>
		</form>
	}
	<p></p>

	External Logins: <b>@Model.Logins.Count</b>
	<br />
	<form asp-controller="Manage" asp-action="ManageLogins" method="get" class="form-horizontal">
		<button type="submit" class="btn-link">Manage...</button>
	</form>
	<p></p>

	Phone Number:
	@*<p>
		See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
			for details on setting up this ASP.NET application to support two-factor authentication using SMS.
	</p>*@
	<b>@(Model.PhoneNumber ?? "None")</b>
	@if (Model.PhoneNumber != null)
	{
		<form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post" class="form-horizontal">
			<button type="submit" class="btn-link" style="color: red">Delete</button>
		</form>
	}
	else
	{
		<form asp-controller="Manage" asp-action="AddPhoneNumber" method="get" class="form-horizontal">
			<button type="submit" class="btn-link">Add...</button>
		</form>
	}
	<p></p>

	Two-Factor Authentication:
	@*<p>
			There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
			for setting up this application to support two-factor authentication.
		</p>*@
	@if (Model.TwoFactor)
	{
		<b>Enabled</b>
		<form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
			<button type="submit" class="btn-link" style="color: red">Disable</button>
		</form>
	}
	else
	{
		<b>Disabled</b>
		<form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
			<button type="submit" class="btn-link">Enable</button>
		</form>
	}
</div>







