@{ ViewData["Title"] = "Home Page"; }

<h2>Welcome :)</h2>
<hr />

<p>TODO...</p>

<p><a asp-area="" asp-controller="Account" asp-action="Register">Register</a> or <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></p>
